node_modules/
.venv/
.env
venv/
.venv/
.history/
__pycache__/
src/libriscribe.egg-info/
src/libriscribe/__pycache__/
src/libriscribe/utils/__pycache__/
src/libriscribe/agents/__pycache__/
projects/
libriscribe.log
libriscribe_llm.log
copy_log.txt
*.log
*.log
.trunk/
.trunk/logs/
test.tex
.ruff_cache/